body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #5f5f5f;
    background-color: #fff;
}

* {
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a,a:hover,a:active,a:focus {
    text-decoration: none;
    color: #5f5f5f;
}

h1,h2,h3,h4,h5,h6,a,p,span,ul,li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.container {
    max-width: 1000px!important;
    width: 100%;
}



/*------------------------- HEADER -------------------------*/

header {
    height: 100px;
    line-height: 100px;
}

.header-logo {
    display: inline-block;
}

.header-navigation-menu {
    float: right;
}

.header-navigation-menu li {
    list-style: none;
    display: inline-block;
    margin: 0 14px;
}

.header-navigation-menu li:first-child {
    margin-left: 0;
}

.header-navigation-menu li:last-child {
    margin-right: 0;
}

.header-navigation-menu li a {
    color: #5f5f5f;
    font-weight: 400;
    text-transform: uppercase;
}

.header-navigation-menu li a:hover {
    color: #e3000f;
}

.header-navigation-menu li a.active {
    font-weight: 600;
    color: #e3000f;
}



/*------------------------- FOOTER -------------------------*/
footer {
    position: relative;
    height: 90px;
    padding-top: 26px;
}

footer::before {
    position: absolute;
    content: '';
    background-image: url('../img/footer-decore-line.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 1px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.footer-links-block {
    text-align: left;
}

.footer-links-block a {
    display: inline-block;
    margin: 0 14px;
    text-transform: uppercase;
    font-size: 12px;
}

.footer-links-block a:hover {
    text-decoration: underline;
}

.footer-links-block a:first-child {
    margin-left: 0;
}

.footer-links-block a:last-child {
    margin-right: 0;
}

.footer-copyright-block {
    text-align: right;
    font-size: 12px;
}



/*------------------------- MAIN -------------------------*/

.main-wrapper {
    height: calc(100vh - 190px);
    position: relative;
}

.main-wrapper > .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main-block-content-wrapper {
    display: flex;
    align-items: center;
}

.main-block-content-left {
    margin-right: 20px;
}

.main-block-content-right-header {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
}




/*------------------------- ABOUT US -------------------------*/

.left-block-items-header {
    text-transform: uppercase;
    color: #201e1d;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;
    margin-bottom: 17px;
}

.left-block-items-list li {
    margin-bottom: 17px;
}

.left-block-items-list li:last-child {
    margin-bottom: 0;
}

.left-block-items-list li a {
    font-size: 14px;
    color: #5f5f5f;
    transition: .2s;
}

.left-block-items-list li a:hover {
    color: #e31e24;
}

.left-block-items-decor-img {
    margin: 35px 0;
}

.about-content-block-header {
    color: #201e1d;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.about-content-block-text {
    color: #5f5f5f;
    width: 100%;
}

.about-content-block {
    margin-bottom: 45px;
}

.about-content-block:last-child {
    margin-bottom: 0;
}

.about-us-content-block {
    padding: 45px 0;
}


/*------------------------- Practice areas -------------------------*/

.left-block-items-professionals {
    background-color: #fafafa;
    padding: 22px 25px;
    width: 100%;
}

.left-block-items-professionals .left-block-items-header {
    font-size: 18px;
    line-height: 18px;
}

.header-underline {
    font-size: 24px;
    line-height: 24px;
    color: #201e1d;
    padding-bottom: 25px;
    border-bottom: 3px solid #e3000f;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 25px;
}